@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  color: #282828;
  box-sizing: border-box;
}

html {
  max-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body a {
  text-decoration: none;
}

/* HEADER */
header {
  background: rgb(11, 3, 42);
  box-shadow: 0 8px 8px -8px rgb(11, 3, 42);
  width: 100%;
  height: 5em;
  display: flex;
  justify-content: right;
  padding-right: 3em;
  align-items: center;
  gap: 3em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  transition: top 0.4s ease-in-out;
}

.main-navigation li {
  display: flex;
}

.main-navigation i {
  padding-right: 1em;
}

/* Hide Navbar on scroll */
.hidden {
  top: -5em;
}

/* 
.resume-link {
  display: flex;
  flex-direction: row;
  min-width: fit-content;
  color: whitesmoke;
  background-color: transparent;
  padding: 0.5em;
  border: 1px solid #f08000;
  border-radius: 5px;
  font-weight: 700;
  transition: transform 0.2s ease-in-out;
}

.resume-link:hover {
  transform: translateY(-1px);
}

.resume-link i,
.resume-link span {
  color: whitesmoke;
  padding-right: 0.5em;
} */

.github-link .fa-github {
  padding-top: 2.5px;
  color: whitesmoke;
  color: lightgray;
  font-size: 1.2rem;
  transition: transform 0.8s ease, color 0.4s ease;
}

.github-link .fa-github:hover {
  color: whitesmoke;
  transform: scale(1.1);
}

/* ABOUT SECTION */
#about {
  background: rgb(11, 3, 42);
  height: 100vh;
  display: flex;
  justify-content: center;
}

.heading-wrapper {
  display: flex;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transform: translateY(80px);
  opacity: 0;
  transition: transform 0.9s ease, opacity 1.5s ease;
}

.heading-wrapper.slide-up {
  transform: translateY(0);
  opacity: 1;
}

.heading-wrapper p {
  color: whitesmoke;
  font-weight: 700;
}

.heading-text {
  font-weight: 500;
  line-height: 1.8;
  width: 100%;
}

.main-title {
  font-family: 'Varela', sans-serif;
  color: lightgray;
  font-weight: 500;
  letter-spacing: 6px;
}

.type-writer-wrapper {
  gap: 0.3em;
}

.type-writer-wrapper span {
  color: whitesmoke;
}

.heading-wrapper a {
  text-align: center;
  border: none;
  border-radius: 5px;
  padding: 1em;
  width: 12em;
  font-weight: 700;
  background-color: transparent;
  border: 2px solid #f08000;
  box-shadow: 0 0 6px white;
  color: whitesmoke;
  transition: background-color 0.6s ease-in-out;
}

.heading-wrapper a:hover {
  cursor: pointer;
  background-color: #f08000;
}

.photo-container {
  height: fit-content;
}

.photo-wrapper {
  padding: 2em;
  position: relative;
  transform: translateY(50px);
  transition: transform 0.9s ease;
}

.photo-wrapper.slide-up {
  transform: translateY(0);
}

.photo-wrapper img {
  width: 100%;
  border-radius: 5px;
  margin: 0;
  padding: 0;
}

/* Headshot Borders */
.photo-wrapper .border {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: 5px solid #f08000;
  border-radius: 5px;
}

.top.left {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}

.top.right {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
}

.bottom.left {
  bottom: 0;
  left: 0;
  border-right: none;
  border-top: none;
}

.bottom.right {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}

/* PROJECTS SECTION */
#projects {
  background-color: #fefefa;
  padding: 4em 1em;
}

.projects-section-title {
  font-size: 3rem;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5em;
  padding: 10em 4em 10em 4em;
}

.project-container {
  width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(50px);
  opacity: 0;
  transition: transform 0.6s ease, opacity 1.5s ease;
}

.project-container.slide-up {
  transform: translateY(0);
  opacity: 1;
}

.project-title {
  text-align: center;
}

.screenshot {
  text-align: center;
  border: none;
  width: 22em;
  height: 12em;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 8px #282828;
  opacity: 1;
  transition: transform 0.9s ease, opacity 0.6s ease;
}

.screenshot:hover {
  transform: scale(1.03);
  opacity: 0.85;
}

.project-description-wrapper {
  width: 20em;
  margin: 0 auto;
}

.project-description {
  text-align: center;
}

.project-links-wrapper {
  display: flex;
  align-items: center;
  gap: 1em;
}

.fa-external-link-square {
  visibility: hidden;
  opacity: 0;
  padding-left: 5px;
}

.project-links-wrapper p {
  font-weight: bold;
  text-decoration: underline transparent;
  transition: text-decoration 0.2s linear;
}

.project-links-wrapper p:hover {
  text-decoration-color: #282828;
}

.project-links-wrapper p:hover .fa-external-link-square {
  visibility: visible;
  opacity: 1;
}

.github-icon {
  font-size: 1.5rem;
  transition: transform 0.2s ease-in-out;
}

.github-icon:hover {
  transform: scale(1.05);
}

/* SKILLS SECTION */
#skills {
  padding-top: 4em;
  padding-bottom: 5em;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-section-title {
  font-size: 3rem;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 3em;
}

.icons-wrapper {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em;
  padding: 10em 3em 5em 3em;
  transform: translateY(50px);
  opacity: 0;
  transition: transform 0.6s ease, opacity 1.5s ease;
}

.icons-wrapper.slide-up {
  transform: translateY(0);
  opacity: 1;
}

.icons-wrapper svg {
  width: 6em;
  height: 6em;
  margin-bottom: 5em;
  transition: transform 0.2s ease-in-out;
}

.icons-wrapper svg:hover {
  transform: translateY(-2px);
}

/* CONTACT SECTION */
#contact {
  padding-top: 4em;
  padding-bottom: 5em;
  background-color: #fefefa;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10em;
  transform: translateY(100px);
  opacity: 0;
  transition: transform 0.6s ease, opacity 1.5s ease;
}

.contact-wrapper.slide-up {
  transform: translateY(0);
  opacity: 1;
}

.success-message {
  font-weight: bold;
  padding-bottom: 1em;
}

.form-container {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

form {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  width: 60vw;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

label {
  width: 100%;
  font-weight: 600;
}

input,
textarea {
  width: 100%;
  padding: 1em;
  margin-bottom: 2em;
  border-radius: 5px;
  border: 0.5px solid gray;
  border-top: none;
  background-color: #fefefa;
  box-shadow: 0 0 6px gray;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

textarea {
  resize: none;
  height: 10em;
}

.submit-btn {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  transition: transform 0.2s ease-in-out;
  background-color: whitesmoke;
}

.submit-btn:hover {
  cursor: pointer;
  transform: translateY(-2px);
}

footer {
  max-width: 100%;
  height: 6em;
  background: rgb(11, 3, 42);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px rgb(11, 3, 42);
}

footer span {
  color: whitesmoke;
  padding-right: 0.5em;
}

/* MEDIA QUERIES */

/* Mobile */
@media screen and (min-width: 320px) {
  .hamburger {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 30;
    padding: 1em;
    height: 5em;
    width: 5em;
    border-bottom-right-radius: 5px;
  }

  .hamburger div {
    top: 5px;
    position: relative;
    width: 25px;
    height: 4px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
  }

  .hamburger.clicked div {
    transform: translateX(-50px);
    background-color: transparent;
  }

  .hamburger.clicked div::before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  .hamburger.clicked div::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  .hamburger div::before,
  .hamburger div::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background: whitesmoke;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
  }

  .hamburger div::before {
    transform: translateY(-8px);
  }

  .hamburger div::after {
    transform: translateY(8px);
  }

  header {
    height: 3em;
  }

  .logo {
    display: none;
  }

  /* .resume-link {
    display: none;
  } */

  nav {
    background: rgb(11, 3, 42);
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 300ms ease-in, opacity 300ms ease-in;
    width: 100%;
    min-height: 100%;
  }

  nav.show {
    transform: translateX(0);
    opacity: 1;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }

    75% {
      opacity: 0.5;
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  nav.show li {
    animation: fadeIn ease-in-out 0.3s forwards;
  }

  nav.show li:nth-child(1) {
    animation-delay: 100ms;
  }

  nav.show li:nth-child(2) {
    animation-delay: 200ms;
  }

  nav.show li:nth-child(3) {
    animation-delay: 300ms;
  }

  nav.show li:nth-child(4) {
    animation-delay: 400ms;
  }

  .main-navigation {
    padding: 6em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
  }

  .main-navigation li {
    opacity: 0;
    list-style-type: none;
    font-weight: bold;
    font-size: 1rem;
  }

  .main-navigation li .nav-link,
  .main-navigation i {
    color: whitesmoke;
  }

  #about {
    padding: 3em;
  }

  .heading-wrapper {
    height: fit-content;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
  }

  .heading-wrapper .main-title {
    text-align: center;
    font-size: 2rem;
  }

  .heading-wrapper p {
    font-size: 70%;
    text-align: center;
  }

  .type-writer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
  }

  .type-writer-wrapper span {
    font-size: 1.5rem;
  }

  .heading-text {
    width: 80%;
  }

  .heading-wrapper a {
    font-size: 1rem;
    margin-top: 1em;
  }

  .photo-wrapper {
    display: none;
  }

  .projects-title,
  .skills-title,
  .contact-title {
    text-align: center;
    font-size: 2rem;
  }

  form {
    width: 90vw;
  }

  footer {
    font-size: smaller;
  }
}

/* Iphone 8 */
@media screen and (min-width: 374px) {
  .main-navigation {
    gap: 6em;
  }

  .main-navigation li {
    font-size: 1rem;
  }

  .heading-wrapper .main-title {
    font-size: 2.2rem;
  }

  .heading-wrapper p {
    font-size: 80%;
  }
}

/* Iphone 8 Plus */
@media screen and (min-width: 413px) {
  .main-navigation {
    gap: 8em;
  }

  .heading-wrapper {
    gap: 2em;
  }

  .heading-wrapper .main-title {
    font-size: 2.5rem;
  }
}

/* Mobile Land */
@media screen and (min-width: 480px) {
  .main-navigation {
    padding: 5em;
    gap: 10em;
  }

  .main-navigation li {
    font-size: 1.5rem;
  }

  .heading-wrapper .main-title {
    font-size: 1.5rem;
  }

  .heading-text {
    width: 70%;
  }

  .heading-wrapper p {
    font-size: 60%;
  }

  .type-writer-wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .type-writer-wrapper span {
    font-size: 1rem;
  }

  .heading-wrapper a {
    font-size: 80%;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (orientation: portrait) {
  .main-navigation {
    padding: 8em;
    gap: 12em;
  }

  .main-navigation li {
    font-size: 1.5rem;
  }

  .heading-wrapper {
    gap: 4em;
    margin-top: 5em;
  }

  .heading-wrapper .main-title {
    font-size: 3rem;
  }

  .heading-text {
    width: 50%;
  }

  .heading-wrapper p {
    font-size: 1rem;
  }

  .type-writer-wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  .type-writer-wrapper span {
    font-size: 2rem;
  }

  .heading-wrapper a {
    font-size: 1rem;
  }

  .projects-title,
  .skills-title,
  .contact-title {
    text-align: center;
    font-size: 2rem;
  }
}

@media screen and (min-width: 799px) {
  .heading-wrapper {
    margin-top: 5em;
    gap: 1em;
  }

  .heading-wrapper .main-title {
    font-size: 2.8rem;
  }

  .heading-text {
    width: 50%;
  }

  .type-writer-wrapper span {
    font-size: 2rem;
  }

  .heading-wrapper a {
    font-size: 1rem;
  }
}

/* Desktop */
@media screen and (min-width: 992px) {
  header {
    height: 5em;
  }

  .hamburger {
    display: none;
  }

  .logo {
    display: block;
    visibility: visible;
    width: 40px;
    position: absolute;
    left: 15px;
    top: 15px;
  }

  .logo:hover {
    cursor: pointer;
  }

  /* .resume-link {
    display: block;
  } */

  nav {
    background-color: transparent;
    position: relative;
    top: 0;
    left: 60px;
    opacity: 1;
    transform: initial;
    width: auto;
    min-height: auto;
  }

  .main-navigation {
    flex-direction: row;
    gap: 5em;
  }

  .main-navigation li {
    opacity: 1;
    display: flex;
    font-size: initial;
  }

  .main-navigation li .nav-link {
    color: lightgray;
    text-decoration: transparent underline;
    text-underline-offset: 15px;
    text-decoration-thickness: 2px;
    transition: text-decoration-color 0.4s ease-in-out, color 0.4s ease-in-out;
  }

  .main-navigation li .nav-link:hover {
    color: white;
    text-decoration-color: white;
    cursor: pointer;
  }

  .nav-link.active {
    color: red;
  }

  .main-navigation i {
    color: whitesmoke;
  }

  #about {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5em;
    gap: 3em;
  }

  .heading-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.8em;
    width: 70vw;
    margin-top: -2em;
  }

  .heading-wrapper .main-title {
    font-size: 3.5rem;
    text-align: initial;
  }

  .heading-wrapper p {
    font-size: 1rem;
    text-align: start;
  }

  .heading-text {
    width: 70%;
  }

  .type-writer-wrapper span {
    font-size: 2rem;
  }

  .heading-wrapper a {
    font-size: 1rem;
  }

  .photo-wrapper {
    display: flex;
    width: 25vw;
    margin-bottom: 2em;
  }

  .projects-title,
  .skills-title,
  .contact-title {
    font-size: 3rem;
  }

  form {
    width: 60vw;
  }
}

/* Larger Screens */
@media screen and (min-width: 1200px) {
  #about {
    padding: 0 5em;
  }

  .heading-wrapper .main-title {
    font-size: 4.5rem;
  }

  .photo-wrapper {
    margin-top: 5em;
  }

  .projects-title,
  .skills-title,
  .contact-title {
    font-size: 3rem;
  }
}

/* Larger Screens */
@media screen and (min-width: 1920px) {
  #about {
    padding: 0 12em;
  }

  .heading-wrapper .main-title {
    font-size: 6rem;
  }

  .heading-text {
    width: 50%;
    font-size: 3rem;
  }

  .heading-wrapper a {
    font-size: 1.5rem;
  }
}
