@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  color: #282828;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  max-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body a {
  text-decoration: none;
}

/* HEADER */
header {
  background: rgb(11, 3, 42);
  box-shadow: 0 8px 8px -8px rgb(11, 3, 42);
  width: 100%;
  height: 5em;
  display: flex;
  justify-content: center;
  padding-right: 3em;
  align-items: center;
  gap: 3em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  transition: top 0.6s ease;
}

.main-navigation li {
  display: flex;
  align-items: center;
}

.main-navigation i {
  padding-right: 1em;
}

/* Hide Navbar on scroll */
.hidden {
  top: -5em;
}

.social-icons {
  position: fixed;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.github-link .fa-github {
  color: whitesmoke;
  font-size: 1.95rem;
  transition: transform 0.8s ease, color 0.4s ease;
}

.github-link .fa-github:hover {
  transform: scale(1.1);
}

.linkedin-link .fa-linkedin {
  color: whitesmoke;
  background-color: #0e76a8;
  border-radius: 4px;
  padding: 0.1em 0.2em;
  font-size: 1.5rem;
  transition: transform 0.8s ease, color 0.4s ease;
}

.linkedin-link .fa-linkedin:hover {
  transform: scale(1.1);
}

/* ABOUT SECTION */
#about {
  background: rgb(11, 3, 42);
  height: 100vh;
  display: flex;
  justify-content: center;
}

.heading-wrapper {
  display: flex;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transform: translateY(80px);
  opacity: 0;
  transition: transform 0.9s ease, opacity 1.5s ease;
}

.heading-wrapper.slide-up {
  transform: translateY(0);
  opacity: 1;
}

.heading span {
  font-family: 'Varela', sans-serif;
  color: lightgray;
}

.heading-wrapper p {
  color: whitesmoke;
  font-weight: 700;
}

.heading-text {
  font-weight: 500;
  line-height: 1.8;
  width: 100%;
}

.main-title {
  font-family: 'Varela', sans-serif;
  color: lightgray;
  font-weight: 500;
  letter-spacing: 8px;
}

.type-writer-wrapper {
  gap: 0.3em;
}

.type-writer-wrapper span {
  color: whitesmoke;
}

.heading-wrapper a {
  text-align: center;
  border: none;
  border-radius: 5px;
  padding: 1em;
  width: 12em;
  font-weight: 700;
  background-color: transparent;
  border: 2px solid #f08000;
  box-shadow: 0 0 6px white;
  color: whitesmoke;
  transition: background-color 0.6s ease-in-out;
}

.heading-wrapper a:hover {
  cursor: pointer;
  background-color: #f08000;
}

.photo-container {
  height: fit-content;
}

.photo-wrapper {
  transform: translateY(50px);
  opacity: 0;
  transition: transform 0.9s ease, opacity 1.5s ease;
}

.photo-wrapper.slide-up {
  transform: translateY(0);
  opacity: 1;
}

/* PROJECTS SECTION */
#projects {
  padding: 4em 1em;
}

.projects-section-title {
  font-size: 3rem;
  text-align: center;
  margin-top: 2em;
}

.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5em;
  padding: 6em 2em 10em 2em;
}

.project-container {
  width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(50px);
  opacity: 0;
  transition: transform 0.6s ease, opacity 1.5s ease;
}

.project-container.slide-up {
  transform: translateY(0);
  opacity: 1;
}

.project-title {
  text-align: center;
}

.screenshot {
  text-align: center;
  border: none;
  object-fit: cover;
  width: 22em;
  height: 12em;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 8px 15px;
  opacity: 1;
  transition: transform 0.9s ease, opacity 0.6s ease;
}

.screenshot:hover {
  transform: scale(1.03);
  opacity: 0.85;
}

.project-description-wrapper {
  width: 20em;
  margin: 0 auto;
}

.project-description {
  text-align: center;
}

.project-links-wrapper {
  display: flex;
  align-items: center;
  gap: 1em;
}

.fa-external-link-square {
  visibility: hidden;
  opacity: 0;
  padding-left: 5px;
}

.project-links-wrapper p {
  font-weight: bold;
  text-decoration: underline transparent;
  transition: text-decoration 0.2s linear;
}

.project-links-wrapper p:hover {
  text-decoration-color: #282828;
}

.project-links-wrapper p:hover .fa-external-link-square {
  visibility: visible;
  opacity: 1;
}

.github-icon {
  font-size: 1.5rem;
  transition: transform 0.2s ease-in-out;
}

.github-icon:hover {
  transform: scale(1.05);
}

/* SKILLS SECTION */
#skills {
  padding-top: 4em;
  padding-bottom: 5em;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-section-title {
  font-size: 3rem;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 3em;
}

.icons-wrapper {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em;
  padding: 10em 3em 5em 3em;
  transform: translateY(50px);
  opacity: 0;
  transition: transform 0.6s ease, opacity 1.5s ease;
}

.icons-wrapper.slide-up {
  transform: translateY(0);
  opacity: 1;
}

.icons-wrapper svg {
  width: 6em;
  height: 6em;
  margin-bottom: 5em;
  transition: transform 0.2s ease-in-out;
}

.icons-wrapper svg:hover {
  transform: translateY(-2px);
}

/* CONTACT SECTION */
#contact {
  padding-top: 4em;
  padding-bottom: 5em;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10em;
  transform: translateY(100px);
  opacity: 0;
  transition: transform 0.6s ease, opacity 1.5s ease;
}

.contact-wrapper.slide-up {
  transform: translateY(0);
  opacity: 1;
}

.success-message {
  font-weight: bold;
  padding-bottom: 1em;
}

.form-container {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

form {
  width: 60vw;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

label {
  width: 100%;
  font-weight: 600;
}

input,
textarea {
  width: 100%;
  padding: 1em;
  margin-bottom: 2em;
  border-radius: 5px;
  border: none;
  background-color: #fefefa;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

textarea {
  resize: none;
  height: 10em;
}

.submit-btn {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: transform 0.2s ease-in-out;
  background-color: #f0f8ff;
}

.submit-btn:hover {
  cursor: pointer;
  transform: translateY(-2px);
}

footer {
  max-width: 100%;
  height: 6em;
  background: rgb(11, 3, 42);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px rgb(11, 3, 42);
}

footer span {
  color: whitesmoke;
  padding-right: 0.5em;
}

/* RESPONSIVE */

/* Mobile */
@media screen and (min-width: 320px) {
  .hamburger {
    position: absolute;
    left: 0;
    top: 0.35rem;
    z-index: 30;
    padding: 1em;
    border-bottom-right-radius: 5px;
  }

  .hamburger div {
    position: relative;
    width: 1.8rem;
    height: 0.125rem;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
  }

  .hamburger.clicked div {
    transform: translateX(-50px);
    background-color: transparent;
  }

  .hamburger.clicked div::before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  .hamburger.clicked div::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  .hamburger div::before,
  .hamburger div::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background: whitesmoke;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
  }

  .hamburger div::before {
    transform: translateY(-8px);
  }

  .hamburger div::after {
    transform: translateY(8px);
  }

  header {
    height: 3em;
  }

  .logo {
    display: none;
  }

  nav {
    background: rgb(11, 3, 42);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 300ms ease-in, opacity 300ms ease-in;
    width: 100%;
    min-height: 100%;
  }

  nav.show {
    transform: translateX(0);
    opacity: 1;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }

    75% {
      opacity: 0.5;
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  nav.show li {
    animation: fadeIn ease-in-out 0.3s forwards;
  }

  nav.show li:nth-child(1) {
    animation-delay: 100ms;
  }

  nav.show li:nth-child(2) {
    animation-delay: 200ms;
  }

  nav.show li:nth-child(3) {
    animation-delay: 300ms;
  }

  nav.show li:nth-child(4) {
    animation-delay: 400ms;
  }

  .main-navigation {
    padding: 6em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
  }

  .main-navigation li {
    opacity: 0;
    list-style-type: none;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .main-navigation li a {
    font-size: 1.5rem;
  }

  .main-navigation li .nav-link,
  .main-navigation i {
    color: whitesmoke;
  }

  #about {
    padding: 0 1em;
    flex-direction: column-reverse;
    gap: 3em;
  }

  .heading-wrapper {
    justify-content: center;
    align-items: center;
    gap: 0.5em;
  }

  .heading-wrapper .heading {
    text-align: center;
    width: 100%;
  }

  .heading .main-title {
    font-size: 2.8rem;
    margin-top: 0.1em;
  }

  .heading-wrapper p {
    font-size: 0.8rem;
    text-align: center;
    width: 70%;
  }

  .type-writer-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  .type-writer-wrapper span {
    font-size: 1.25rem;
  }

  .heading-text {
    width: 100%;
  }

  .heading-wrapper a {
    font-size: 1rem;
    margin-top: 0.5em;
  }

  .photo-wrapper {
    margin-top: 0.5em;
    margin-bottom: -1.5em;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .photo-wrapper img {
    width: 35%;
  }

  .projects-title,
  .skills-title,
  .contact-title {
    text-align: center;
    font-size: 2rem;
  }

  form {
    width: 85vw;
  }

  footer {
    font-size: smaller;
  }
}

/* Mobile Land */
@media screen and (min-width: 320px) and (orientation: landscape) {
  html {
    font-size: 80%;
  }

  .hamburger {
    display: none;
  }

  .logo {
    display: block;
    visibility: visible;
    width: 2rem;
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
  }

  nav {
    background-color: transparent;
    position: relative;
    top: 0;
    left: 0;
    opacity: 1;
    transform: initial;
    width: auto;
    min-height: auto;
  }

  .main-navigation {
    flex-direction: row;
    gap: 3em;
  }

  .main-navigation li {
    opacity: 1;
    display: flex;
  }

  .main-navigation li a {
    opacity: 1;
    display: flex;
    font-size: 0.5rem;
  }

  .main-navigation li .nav-link {
    color: lightgray;
    position: relative;
    text-decoration: none;
  }

  #about {
    padding: 2em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #about {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }

  .heading-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5em;
    width: 70vw;
    padding: 2em;
  }

  .heading-wrapper .heading {
    margin-top: 2em;
    text-align: start;
    width: 100%;
  }

  .heading-wrapper .main-title {
    text-align: start;
    margin-left: -0.1em;
    margin-top: 0.25em;
  }

  .heading-wrapper p {
    font-size: 0.8rem;
    text-align: start;
    width: 100%;
  }

  .photo-wrapper {
    width: 30vw;
  }

  .photo-wrapper img {
    width: 80%;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (orientation: portrait) {
  .main-navigation {
    gap: 10em;
  }

  .heading-wrapper {
    gap: 3em;
  }

  .heading .main-title {
    font-size: 3rem;
  }
}

/* Desktop */
@media screen and (min-width: 992px) {
  html {
    font-size: 100%;
  }

  header {
    height: 5em;
  }

  .hamburger {
    display: none;
  }

  .logo {
    display: block;
    visibility: visible;
    width: 40px;
    position: absolute;
    left: 1rem;
    top: 1rem;
  }

  .logo:hover {
    cursor: pointer;
  }

  nav {
    left: 0;
  }

  .main-navigation {
    gap: 5em;
  }

  .main-navigation li a {
    font-size: initial;
  }

  .main-navigation li .nav-link {
    color: lightgray;
    position: relative;
    text-decoration: none;
  }

  .main-navigation li .nav-link:after {
    content: '';
    background-color: lightgray;
    position: absolute;
    width: 0;
    right: 0;
    margin-top: 1.8rem;
    border-radius: 5px;
    height: 3px;
    display: block;
    transition: width 0.4s ease;
    -webkit-transition: width 0.4s ease;
  }

  .main-navigation li .nav-link:hover {
    color: white;
    cursor: pointer;
  }

  .main-navigation li .nav-link:hover:after {
    color: white;
    width: 100%;
    left: 0;
  }

  .main-navigation i {
    color: whitesmoke;
  }

  .social-icons {
    gap: 2em;
    right: 2rem;
  }

  #about {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }

  .heading-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
    width: 70vw;
    padding: 4em;
  }

  .heading-wrapper .heading {
    margin-top: 1em;
    text-align: start;
    width: 100%;
  }

  .heading-wrapper .main-title {
    font-size: 5rem;
    text-align: start;
    margin-left: -0.1em;
    margin-top: 0.25em;
  }

  .heading-wrapper p {
    font-size: 1rem;
    text-align: start;
    width: 100%;
  }

  .type-writer-wrapper span {
    font-size: 2rem;
  }

  .heading-wrapper a {
    font-size: 1rem;
    margin-top: 1em;
  }

  .photo-wrapper {
    width: 30vw;
    margin: 0;
  }

  .projects-title,
  .skills-title,
  .contact-title {
    font-size: 3rem;
  }

  form {
    width: 60vw;
  }
}

/* Larger Screens */
@media screen and (min-width: 1200px) {
  .main-navigation {
    gap: 7em;
  }

  .heading-wrapper .main-title {
    font-size: 5.5rem;
  }

  .projects-title,
  .skills-title,
  .contact-title {
    font-size: 3rem;
  }
}

/* Larger Screens */
@media screen and (min-width: 1920px) {
  html {
    font-size: 180%;
  }

  #about {
    padding: 0 2em;
  }

  .photo-wrapper img {
    width: 90%;
  }
}
